/** {
  border: 1px solid red;
}
*/
body {
  display: flex;
  flex-direction: row;
}

aside {
  flex: 1 0 0;
  background-color: #EDEDED;
}

section {
  flex: 3.25 0 0;
  display: flex;
  flex-direction: column;
}

.sub-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.articles-row {
  display: flex;
  flex-direction: row;
}

.article {
  border: 1px solid #EDEDED;
  margin: 5px;
  text-align: center;
}